{% extends "base/base.html" %}
<!--{% load static %}-->
{% block head %}
    <style type="text/css" media="screen">
        body {
        {% if Lg == "ar" %}
            font-size: xx-large;
        {% endif %}
        }
    </style>
{% endblock %}
{% block content %}
    <h4>Лаборатория цвета Смоленского государственного университета изучает принципы гармоничной колористики города.</h4>
    <h4>The <em>ColorLab</em> Research and Educational Center at Smolensk State University is studying the principles of color harmony in urban environments.</h4>
    <p>Прежде, чем мы начнем наш эксперимент, ответьте, пожалуйста, Вы родились и постоянно проживаете на территории России?</p>
    <p>Before we begin the experiment, please answer the following question: Were you born in Russia and do you permanently reside there?</p>
    <br>
    <p>
        <a href="{% url 'russias_regions' %}" class="t1">Да / Yes</a>
    </p>
    <br>
    <p>
        <a href="{% url 'other_countries' %}" class="t1">Нет / No</a>
{% endblock %}


