<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/excanvas.compiled.js' %}"></script>
    <title>SMOLGU. ColorLab</title>
    <script type="text/javascript" charset="utf-8" src="{% static 'src/farbtastic.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('#colorpicker1').farbtastic('#color1');
            $('#colorpicker2').farbtastic({callback: '#color2', width: 150});
        });

    </script>
    <style type="text/css" media="screen">
        .colorpicker {
            float: left;
            margin: 1em;
        }

        form {
            margin: 2em 1em 0 1;
            text-align: center;
        }

        body {
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            background-color: gray;
            color: #FFF;
            display: block;
            margin: 8px;
        {% if Lg == "ar" %}
            font-size: xx-large;
        {% endif %}
        }

        p {
            clear: both;
        }

        button.t1 {
            background-color: #808080;
            border: 2px solid #ffffff;
            color: #ffffff;
            padding: 12px 42px;
            border-radius: 10px;
            font-size: 17px;
        }

    </style>
</head>
<body>
{% if Lg == "en" %}
    <p>Using a color wheel again, please select a color for the white stripe in the middle. Choose the color you feel
        makes
        the whole combination as harmonious as possible. After you have selected a color, click "continue" to go to the
        next
        page.</p>
{% endif %}
{% if Lg == "ru" %}
    <p>Выберите, пожалуйста, в предложенной палитре цвет для неокрашенной полосы в центре еще раз.
        Цвет снова нужно подобрать таким образом, чтобы сочетание всех трех оттенков получилось как
        можно более гармоничным. Когда Вы выберете оттенок, нажмите «продолжить»,
        чтобы перейти к следующей странице.</p>
{% endif %}
{% if Lg == "es" %}
    <p>Por favor, selecciona un color de la franja blanca del centro utilizando de nuevo una rueda de colores. Elige
        este
        color para que toda la combinación de colores sea lo más armoniosa posible. Una vez que hayas seleccionado un
        color,
        haz clic en "continuar" para pasar a la página siguiente.</p>
{% endif %}
{% if Lg == "ar" %}
    <p>من فضلك حدد لون الشريط الأبيض في المنتصف باستخدام عجلة الألوان. أختر لون الشريط بحيث يكون مجموع الألوان بأكملها
        متناغمة قدر الإمكان. بعد تحديد اللون إضغط على الزر "متابعة" للإنتقال إلى الصفحة التالية</p>
{% endif %}
{% if Lg == "ind" %}
    <p>Dengan menggunakan roda warna sekali lagi, pilih warna untuk garis putih di bagian tengah. Pilih warna yang
        menurut Anda membuat seluruh kombinasi serasi. Setelah Anda memilih warna, klik "lanjutkan" untuk beralih ke
        halaman berikutnya.</p>
{% endif %}
{% if Lg == "gr" %}
    <p>Χρησιμοποιώντας έναν τροχό χρώματος, επιλέξτε ένα χρώμα για τη λευκή λωρίδα στη μέση. Επιλέξτε το χρώμα που
        νιώθετε ότι κάνει όλο τον συνδυασμό όσο πιο αρμονικό γίνεται.</p>
{% endif %}
{% if Lg == "fr" %}
    <p>En utilisant à nouveau une roue chromatique, veuillez sélectionner une couleur pour la bande blanche qui est au
        milieu. Choisissez la couleur qui, selon vous, rend l’ensemble aussi harmonieux que possible. Après avoir
        sélectionné une couleur, cliquez sur « continuer » pour passer à la page suivante.</p>
{% endif %}
{% if Lg == "ch" %}
    <p>
        請再次使用色彩環為中間的白色條紋選擇一種您覺得可以使整個組合最為和諧的色彩。選擇了色彩後，點擊“繼續continue”進入下一頁。</p>
{% endif %}
{% if Lg == "kr" %}
    <p>
        다시 색상환을 이용하여 가운데 흰색 줄무늬의 색상을 선택해 주세요. 전체 조합이 최대한 조화를 이룬다고 생각되는 색상을 선택하세요. 색상을 선택한 후 "계속"을 클릭하여 다음 페이지로
        이동하세요.</p>
{% endif %}
<table>
    <tr>
        <td width="1250">
            <canvas id="myCanvas1" width="1200" height="458" style="border:0px solid #000000;"></canvas>
            <canvas id="myCanvas" width="1200" height="80" style="border:0px solid #000000;"></canvas>
            <canvas id="myCanvas2" width="1200" height="242" style="border:0px solid #000000;"></canvas>
        </td>
        <td width="200">
            {% if Lg == "ru" %}
                <h4>страница 3 из 15</h4>
            {% endif %}
            {% if Lg == "en" %}
                <h4>page 3 of 15</h4>
            {% endif %}
            {% if Lg == "es" %}
                <h4>página 3 a 15</h4>
            {% endif %}
            {% if Lg == "ar" %}
                <h4>صفحة 3 من 15</h4>
            {% endif %}
            {% if Lg == "cz" %}
                <h4>stránka 3 až 15</h4>
            {% endif %}
            {% if Lg == "ind" %}
                <h4>Halaman 3 dari 15</h4>
            {% endif %}
            {% if Lg == "gr" %}
                <h4>Σελίδα 3 από 15</h4>
            {% endif %}
            {% if Lg == "fr" %}
                <h4>page 3 de 15</h4>
            {% endif %}
            {% if Lg == "ch" %}
                <h4>第3頁，共15頁</h4>
            {% endif %}
            {% if Lg == "kr" %}
                <h4>15페이지 중 3페이지</h4>
            {% endif %}
            <div class="colorpicker">
                <div id="colorpicker1"></div>
                <form action="{% url 'index3' %}" method="POST" class="post-form"> {% csrf_token %}
                    <p style="margin-left: 0px"><input type="text" id="color1" name="mycolor" value="#FFFFFF"/></p>
                    <br><br><br><br>
                    <p style="margin-left: 0px">
                        <button class="t1" type="submit">{{ next }}</button>
                    </p>
                </form>
            </div>
        </td>
    </tr>
</table>
<script>

    var c1 = document.getElementById("myCanvas1");
    var ctx1 = c1.getContext("2d");
    ctx1.fillStyle = "#C6CC97";
    ctx1.fillRect(0, 0, 1200, 458);

    var c2 = document.getElementById("myCanvas2");
    var ctx2 = c2.getContext("2d");
    ctx2.fillStyle = "#C6BBAA";
    ctx2.fillRect(0, 0, 1200, 242);

    $('#color1').change(function () {
        var x = $(this).val();
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
//alert(x);
        ctx.fillStyle = x; //#FF0000";
        ctx.fillRect(0, 0, 1200, 80);
    });


</script>
</body>
</html>

