<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/excanvas.compiled.js' %}"></script>
    <title>SMOLGU. ColorLab</title>
    <style type="text/css" media="screen">
        .colorpicker {
            float: left;
            margin: 1em;
        }

        form {
            margin: 2em 1em 0 1;
            text-align: center;
        }

        body {
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            background-color: gray;
            color: #FFF;
            display: block;
            margin: 8px;
        {% if Lg == "ar" %}
            font-size: xx-large;
        {% endif %}
        }

        p {
            clear: both;
        }

        button.t1 {
            background-color: #808080;
            border: 2px solid #ffffff;
            color: #ffffff;
            padding: 12px 42px;
            border-radius: 10px;
            font-size: 17px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td width="200">
            <form action="{% url 'index13' %}" method="POST"> {% csrf_token %}
                {% if Lg == "ru" %}
                    <p><b>Какое сочетание цветов Вам нравится больше, слева или справа?</b></p>
                    <p><input name="left" type="radio" value="yes"> слева </p>
                    <p><input name="left" type="radio" value="no"> справа</p>
                {% endif %}
                {% if Lg == "en" %}
                    <p><b>Which color combination do you like better, the left or the right one?</b></p>
                    <p><input name="left" type="radio" value="yes"> left </p>
                    <p><input name="left" type="radio" value="no"> right </p>
                {% endif %}
                {% if Lg == "es" %}
                    <p><b>¿Qué combinación de colores te gusta más, la de la izquierda o la de la derecha?</b></p>
                    <p><input name="left" type="radio" value="yes">Izquierda</p>
                    <p><input name="left" type="radio" value="no">Derecha</p>
                {% endif %}
                {% if Lg == "ar" %}
                    <p><b>أياً من تشكيلة الألوان تفضل أكثر : الذي على اليمين أو الذي على اليسار ؟</b></p>
                    <p><input name="left" type="radio" value="yes">الأيسر</p>
                    <p><input name="left" type="radio" value="no">الأيمن</p>
                {% endif %}
                {% if Lg == "cz" %}
                    <p><b>Která barevná kombinace se Vám líbí víc, levá nebo pravá?</b></p>
                    <p><input name="left" type="radio" value="yes">levá</p>
                    <p><input name="left" type="radio" value="no">pravá</p>
                {% endif %}
                {% if Lg == "ind" %}
                    <p><b>Kombinasi warna mana yang lebih Anda sukai, kiri atau kanan?</b></p>
                    <p><input name="left" type="radio" value="yes">Kiri</p>
                    <p><input name="left" type="radio" value="no">Kanan</p>
                {% endif %}
                {% if Lg == "gr" %}
                    <p><b>Ποιος χρωματικός συνδυασμός σας αρέσει περισσότερο, ο αριστερά ή ο δεξιά;</b></p>
                    <p><input name="left" type="radio" value="yes">αριστερά</p>
                    <p><input name="left" type="radio" value="no">δεξιά</p>
                {% endif %}
                {% if Lg == "fr" %}
                    <p><b>Quelle combinaison de couleurs préférez-vous, celle de gauche ou celle de droite?</b></p>
                    <p><input name="left" type="radio" value="yes">gauche</p>
                    <p><input name="left" type="radio" value="no">droite</p>
                {% endif %}
                {% if Lg == "ch" %}
                    <p><b>您比較喜歡”左邊left”還是”右邊right”的色彩組合？</b></p>
                    <p><input name="left" type="radio" value="yes">左</p>
                    <p><input name="left" type="radio" value="no">右</p>
                {% endif %}
                {% if Lg == "kr" %}
                    <p><b>왼쪽과 오른쪽 중 어떤 색상 조합이 더 마음에 드시나요?</b></p>
                    <p><input name="left" type="radio" value="yes">왼쪽</p>
                    <p><input name="left" type="radio" value="no">오른쪽</p>
                {% endif %}
                {% if Lg == "ic" %}
                    <p><b>Hvaða samsetning finnst þér betri, sú til vinstri eða hægri?</b></p>
                    <p><input name="left" type="radio" value="yes">vinstri</p>
                    <p><input name="left" type="radio" value="no">hægri</p>
                {% endif %}
                <p style="margin-left: 0px">
                <p>{{ msg }}</p>
                <button class="t1" type="submit" id="button">{{ next }}</button>
                </p>
            </form>
        </td>
        <td width="860">
            <div style="float: right;">
                {% if Lg == "ru" %}
                    <h4>страница 13 из 15</h4>
                {% endif %}
                {% if Lg == "en" %}
                    <h4>page 13 from 15</h4>
                {% endif %}
                {% if Lg == "es" %}
                    <h4>página 13 a 15</h4>
                {% endif %}
                {% if Lg == "ar" %}
                    <h4>صفحة 13 من 15</h4>
                {% endif %}
                {% if Lg == "cz" %}
                    <h4>stránka 13 až 15</h4>
                {% endif %}
                {% if Lg == "ind" %}
                    <h4>Halaman 13 dari 15</h4>
                {% endif %}
                {% if Lg == "gr" %}
                    <h4>Σελίδα 13 από 15</h4>
                {% endif %}
                {% if Lg == "fr" %}
                    <h4>page 13 de 15</h4>
                {% endif %}
                {% if Lg == "ch" %}
                    <h4>第13頁，共15頁</h4>
                {% endif %}
                {% if Lg == "kr" %}
                    <h4>15페이지 중 13페이지</h4>
                {% endif %}
            {% if Lg == "ic" %}
                <h4>síða 13 af 15</h4>
            {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <td width="860">
            <canvas id="myCanvas1" width="840" height="321" style="border:0px solid #000000;"></canvas>
            <canvas id="myCanvas" width="840" height="56" style="border:0px solid #000000;"></canvas>
            <canvas id="myCanvas2" width="840" height="169" style="border:0px solid #000000;"></canvas>
        </td>
        <td width="860">
            <canvas id="myCanvas13" width="840" height="321" style="border:0px solid #000000;"></canvas>
            <canvas id="myCanvas3" width="840" height="56" style="border:0px solid #000000;"></canvas>
            <canvas id="myCanvas23" width="840" height="169" style="border:0px solid #000000;"></canvas>
        </td>
    </tr>
</table>
<script>

    var value = Math.random();
    var r = 'U';
    if (value >= 0.5) {
        r = 'M'
    }
    ;
    var x = "{{MyColor}}";

    var c1 = document.getElementById("myCanvas1");
    var ctx1 = c1.getContext("2d");
    ctx1.fillStyle = "#80A89D";
    ctx1.fillRect(0, 0, 840, 321);

    var c2 = document.getElementById("myCanvas2");
    var ctx2 = c2.getContext("2d");
    ctx2.fillStyle = "#724637";
    ctx2.fillRect(0, 0, 840, 169);

    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    if (r == 'M') {
        ctx.fillStyle = "#A89ECA"
    }
    ;
    if (r == 'U') {
        ctx.fillStyle = x
    }
    ;
    ctx.fillRect(0, 0, 840, 56);

    var c1 = document.getElementById("myCanvas13");
    var ctx1 = c1.getContext("2d");
    ctx1.fillStyle = "#80A89D";
    ctx1.fillRect(0, 0, 840, 321);

    var c2 = document.getElementById("myCanvas23");
    var ctx2 = c2.getContext("2d");
    ctx2.fillStyle = "#724637";
    ctx2.fillRect(0, 0, 840, 169);

    var c = document.getElementById("myCanvas3");
    var ctx = c.getContext("2d");
    if (r == 'U') {
        ctx.fillStyle = "#A89ECA"
    }
    ;
    if (r == 'M') {
        ctx.fillStyle = x
    }
    ;
    ctx.fillRect(0, 0, 840, 56);

    let radios = document.querySelectorAll('input[type="radio"]');
    let button = document.querySelector('#button');
    button.addEventListener('click', function () {
        for (let radio of radios) {
            if (radio.checked) {
                if (radio.value == 'yes') {
                    p = r;
                    radio.value = p;
                } else {
                    if (r == 'M') {
                        p = 'U'
                    }
                    ;
                    if (r == 'U') {
                        p = 'M'
                    }
                    ;
                    radio.value = p;
                }
            }
        }
    });
</script>
</body>
</html>
