{% extends "base/base.html" %}
{% load static %}
{% block head %}
    <style type="text/css" media="screen">
        body {
        {% if Lg == "ar" %}
            font-size: xx-large;
        {% endif %}
        }
    </style>
{% endblock %}
{% block content %}
    {% if Lg == "ru" %}
        <h4>Лаборатория цвета Смоленского государственного университета изучает принципы гармоничной колористики
            города.</h4>
        <p>В этом эксперименте мы хотим узнать, какие цветовые сочетания нравятся лично Вам.</p>
        <p>Исследование займет не более 10 минут. Мы покажем Вам 5 цветовых таблиц. Каждая будет состоять из трех
            горизонтальных
            полос разной ширины. Цвет верхней и нижней полос будет закреплен, его Вы изменить не сможете. Ваша задача
            будет
            заключаться в том, чтобы с помощью курсора выбрать в предложенной палитре цвет для неокрашенной полосы в
            центре.
            Цвет нужно подобрать таким образом, чтобы сочетание всех трех оттенков получилось как можно более
            гармоничным.</p>
        <p>Если Вы готовы принять участие в исследовании, заполните, пожалуйста, анкету.</p>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        <table>
            <tr>
                {{ form }}
            </tr>
            <tr>
            </tr>
        </table>
        <br><br><br><br>
        <p>{{ message }}</p>
        <p>
            <button class="t1" type="submit">{{ next }}</image></button>
        </p>
    </form>
    <br><br>
{% endblock %}